
NODE_ENV = 'development'

PORT = 8080

DB_URI = 'mongodb://localhost:27017/team_16_db'

#! cloudinary
CLOUDINARY_CLOUD_NAME = 'soq9fqdy'
CLOUDINARY_API_KEY = '754565474945694'
CLOUDINARY_API_SECRET = '7JaltMTYL99_jEZjWHQZbHUJM5w'


#!jwt
jwt_SECRET="hdhieijeeuueuueuue"
jwt_EXPRESS_IN='7d'

#!cookies
COOKIE_EXPIRY=7


#!smtp/email
SMTP_HOST=""
SMTP_PORT=465,
SMTP_SERVICE=""
SMTP_USER=""
SMTP_PASS=""
SMTP_MAIL_FROM=""